body {
  margin: 0;
}

header {
  display: flex;
  background-color: #D9D9D9;
  height: 64px;
  align-items: center;
}

img {
  margin-left: 16px;
}

input {
  outline:none;
}

.logo-img {
  width: 52px;
  height: 54px;
}

.title-img {
  width: 250px;
  height: 30px;
}

.hamburger-button {
  position: absolute;
  right: 64px;
  font-size: xx-large;
  color: white;
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  right: 16px;
  top: 66px;
  background-color: white;
  padding: 16px;
  opacity: 0;
  transition: all .5s;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 60%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-bottom: 12px solid #fff;
  z-index: 2;
}

.hamburger-button:hover +.hamburger-menu {
  visibility: visible;
  opacity: 1;
}

.hamburger-menu:hover {
  visibility: visible;
  opacity: 1;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu > p {
  color: #747373;
  margin: 0 10px 0 0;
  font-size: 16px;
  text-align: left;
}

.header-menu > a {
  font-size: large;
  margin-right: 4px;
}

.twitter {
  color: #1DA1F2;
}

.twitter:hover {
  color: rgb(48, 143, 201);
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: rgb(96, 93, 93);
  text-decoration: underline;
  text-decoration-color: rgb(180, 178, 178);
}

.terms-button {
  background: none;
  border: none;
  color: #747373;
  font-size: 12px;
  padding: 0;
  margin-top: 10px;
}

.terms-button:hover {
  cursor: pointer;
  color: #454444;
  text-decoration: underline;
  text-decoration-color: rgb(180, 178, 178);
}

.flash-message {
  display: flex;
  background-color: rgba(253,232,232);
  color: rgba(200,30,30); 
  padding: 12px; 
  height: 30px; 
  border-top: red 4px solid;
  align-items: center;
  visibility: hidden;
}

.fa-circle-info {
  color: rgba(200,30,30); 
  margin-right: 12px;
}

.container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

canvas {
  margin: 0 auto;
}

.contents {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input-area {
  width: 100%;
}

.input-title {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid;
  font-size: medium;
  margin-top: 16px;
}

.title-message {
  margin: 0;
  padding: 0;
  height: 18px;
}

.action-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.action-button > button {
  margin-top: 5px;
  padding: 0;
  margin: 0 6px;
}

.input-label {
  width: 100%;
  height: 30px;
  margin: auto 0;
}

.input-label > input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid;
  font-size: medium;
}

.add-button {
  background-color: transparent;
  border: none;
  font-size: xx-large;
  color: #fbca7b;
  cursor: pointer;
}

.add-button:hover {
  color: #f9ddb1;
}

.init-button {
  background-color: transparent;
  border: none;
  font-size: xx-large;
  cursor: pointer;
}

.init-button:hover {
  color: gray;
}

.start-button {
  background-color: transparent;
  color: rgb(185, 183, 183);
  font-size: xx-large;
  border: none;
}

.stop-button {
  background-color: transparent;
  color: #FF7A4E;
  border: none;
  font-size: xx-large;
  display: none;
  cursor: pointer;
}

.stop-button:hover {
  color: #ff7a4ee4;
}

.items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  width: 100%;
  height: 65%;
  margin-top: 24px;
  padding: 20px;
  overflow-y: scroll;
}

.item {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.paint {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 4px;
}

.item-name {
  width: 80%;
  margin-left: 4px;
}

.item > button {
  width: 2em;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: larger;
}

.edit-button {
  color: #ababab;
  padding: 1px 2px;
}

.edit-button:hover {
  color: #d9d9d9ac;
}

.delete-button {
  color: #F06262;
}

.delete-button:hover {
  color: #ef8686dd;
}

.install-button {
  margin-top: 8px;
  margin-left: auto;
}

.install-button > i {
  color: rgb(119, 116, 116);
}

.how-to-modal {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  margin: auto; 
  transform: translate(-50%, -50%); 
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17); 
  padding-bottom: 12px; 
  z-index: 99; 
  background-color: white;
}

.how-to-title {
  font-size: 24px; 
  color: white; 
  font-weight: bolder; 
  margin-bottom: 10px; 
  background-color: #3CC1EB; 
  height: 48px; 
  line-height: 48px; 
  padding: 0 24px;
}

.how-to-content {
  margin: 0 24px; 
  font-weight: bold; 
  color: rgb(90, 90, 90);
}

.how-to-buttons {
  display: flex; 
  justify-content: space-between; 
  margin-top: 24px;
}

.how-to-start {
  color: #3CC1EB; 
  font-weight: bolder; 
  background: none; 
  border: 1px rgb(200, 198, 198) solid; 
  border-radius: 8px; 
  margin-left: 24px; 
  padding: 4px;
}

.how-to-use {
  color: #3CC1EB; 
  font-weight: bolder; 
  background: none; 
  border: 1px rgb(200, 198, 198) solid; 
  border-radius: 8px; 
  margin-right: 24px;
}

.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  transition: all .5s;
  opacity: 0;
}

.open {
  opacity: 1;
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  width: 30%;
  height: 30%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  text-align: center;
  transition: all .5s;
  z-index: -1;
  display: none;
}

.modal-header {
  background-color: lightgreen;
  display: flex;
  height: 30px;
  padding-left: 6px;
  line-height: 30px;
  justify-content: space-between;
}

.modal-header > p {
  margin: 0;
}

.modal-header > button {
  border: none;
  background-color: transparent;
  color: gray;
  font-size: large;
}

.modal-header > button:hover {
  color: rgb(221, 221, 221);
  cursor: pointer;
}

.modal-content > p:first-of-type {
  text-align: left; 
  padding-left: 32px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 24px;
}

.result-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-color {
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
}

.result-text {
  font-size: x-large;
}

.result > p {
  position: absolute;
  right: 0;
  margin-right: 16px;
}

.share-button {
  text-align: right;
  margin: 8px 16px 0 0;
  font-size: xx-large;
}

.terms-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  padding: 6px 0;
  display: none;
  z-index: -1;
  background-color: white;
  width: 50%;
  height: 200px;
  text-align: center;
  box-shadow: 0 5px 8px 0 rgba(28, 28, 28, 0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  transform: translate(-50%, -50%);
}

.terms-title {
  display: flex;
}

.terms-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(179, 176, 176);
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: none;
  color: white;
}

.terms-close:hover {
  background-color: rgb(150, 147, 147);
  cursor: pointer;
}

.terms-title > li {
  font-size: 24px;
}

.terms-content > ul {
  display: inline-block;
  list-style: none;
  text-align: left;
  padding: 0;
}

.ios-prompt {
  position: fixed;
  margin: auto;
  left: 50%;
  bottom: 16px;
  transform: translate(-50%, 0);
  background-color: white;
  box-sizing: border-box;
  display: none;
  align-items: center;
  width: 340px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.ios-prompt:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 10px 10px 0 10px;
}

.ios-logo {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px gray solid;
  border-radius: 20%;
  padding: 4px;
}

.ios-button-logo {
  width: 15px;
  height: 15px;
}

.ios-prompt-text {
  margin: 0;
}

.prompt-close {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 6px;
  right: 6px;
  background-color: rgb(179, 176, 176);
  border: none;
  color: white;
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 768px) {
  li {
    font-size: 12px;
  }
  .logo-img {
    width: 42px;
    height: 44px;
  }
  .title-img {
    width: 200px;
    height: 25px;
  }
  .hamburger-button {
    right: 20px;
  }
  .hamburger-menu {
    right: 8px;
    width: 40%;
  }
  .hamburger-menu:before {
    left: 85%;
  }
  .hamburger-menu:hover {
    visibility: hidden;
    opacity: 0;
  }
  .header-menu > a {
    font-size: x-large;
  }
  .twitter {
    margin-right: 6px;
  }
  .terms-button {
    font-size: 14px;
  }
  .flash-message{
    position: absolute;
    width: 100%;
    height: 20px;
  }
  .container {
    flex-direction: column;
    margin-top: 10px;
  }
  .contents {
    width: 80%;
  }
  .add-button:hover {
    color: #fbca7b;
  }
  .input-label > input {
    margin-right: 4px;
  }
  .action-button > button {
    margin: 0 4px;
  }
  .items {
    margin-top: 10px;
    padding: 10px;
    height: 200px;
  }
  .paint {
    width: 14px;
    height: 14px;
  }
  .item-name {
    margin-left: 2px;
    width: 70%;
  }
  .item > button {
    margin-left: 4px;
    width: 1em;
  }
  .edit-button:hover {
    color: #ababab;
  }
  .delete-button:hover {
    color: #ef8686dd;
  }
  .modal-content {
    top: 200px;
    width: 60%;
  }
  .result-text {
    font-size: small;
  }
  .modal-content > p {
    font-size: small;
  }
  .terms-content {
    top: 40%;
    width: 90%;
    height: 40%;
    padding: 0 12px;
  }
  .terms-title > li {
    font-size: 20px;
  }
}
